@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body{
    background-color: black;
    color: white;
    font-family: "Abril Fatface", serif;
}
.cabecalho{
    text-align: center;
    background-color: blue;
}