@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    color: black;
    font-family: "Abril Fatface", serif;
}
.cabecalho{
    text-align: center;
    background-color: blue;
    padding: 30px; ;
}
main{
    background-color: blue;
    color: white;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}
article{
    display: flex;
}
img{
    width: 80px;
    height: 80px;
}
.texto-post{
    margin: left 40px; ;
}
button{
    width: 100px;
    padding: 10px;0
    border-radius: 10px;
    background-color: blue;
    color white
}