@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    color: black;
    font-family: "Abril Fatface", serif;
}
.cabecalho{
    text-align: center;
    background-color: blue;
    padding: 30px; ;
}
main{
    background-color: black;
    color: chartreuse;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}